/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #a1d3a8, #05ed3f);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.otp-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.otp-field {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
}

#homePage{
    height: 300px;
    width: 800px;
    background-color: white;
    text-align: center;
    padding-top: 100px;
}